:root{
    --spacing-large: 128px;
    --spacing-meduim: 64px;
    --spacing-small:32px;
    --spacing:16px;
    --color-primary: #B92727;
    --color-primary-hover: #941F1F;
    --color-background: #F9FBFC;
    --color-title: #252525;
    --color-text: #687B8E;
}
.red{
    color: #B92727;
}
.bold {
    font-weight: 700;
}
body{
    font-family: Helvetica;
    background-color: var(--color-background);
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.main {
    background-image: url('../assets/img/exposition/main-background.png');
    height: 100vh;
    background-repeat: no-repeat;
}
.subtitle{
    color: #FFF;
    font-family: Abhaya Libre;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-left: 64px;
}

.date {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-left: 64px;
    margin-top: 32px;
}
.box-show{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
}
    
.show{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
}
.show:hover{
    opacity: 0.8;
}
/* Ariane */
.ariane {
    margin-left: var(--spacing-meduim);
    margin-bottom: var(--spacing-meduim);
}
.ariane p, .ariane a {
    color: var(--color-title);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
}

/* Présentation */

.presentation {
    width: 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
    gap : var(--spacing-large);
    margin: var(--spacing-meduim) 0;
}
.text {
    color:var(--color-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.2px; 
    width: 40vw;
}

/* Main img */
.main-img {
    position: relative;
    margin: 0 var(--spacing-meduim);
}

.main-img img{
    width: 100%;
}

.legend {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    width: 90%;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.2px; 
    bottom: 25px;
    left: 25px;
    
}   

/* Exposition */
.expo{
    width: 100vw;
    margin: var(--spacing-large) 0;
    display: flex;
    justify-content: space-between; 
}

.article-expo{
    width: 60vw;
    margin-right: var(--spacing-large);
}
/* Table of content */
.table-of-content{
    width: 15vw;
    margin-left: var(--spacing-large);
   position: sticky;
   top: 20px;
   z-index: 1; /* Set an appropriate z-index value if needed */
}
.table-of-content .active{
    color: var(--color-primary);
}
.title-table-of-content{
    color: var(--color-title);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-bottom: var(--spacing);
}
.ancre{
    color: var(--color-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-bottom: 14px;
    cursor: pointer;
}
.ancre:hover{
    color: var(--color-primary);
}
.table-of-content hr{
    border: 1px solid var(--color-text);
}
.share{
    margin-top: var(--spacing);
    display: flex;
    align-items: center;
}
.share svg{
    cursor: pointer;
    margin-right: var(--spacing);
}
.share svg:hover path{
    fill: var(--color-primary);
}
/* Content Expo */
/* Texte Expo */
.title-expo{
    color: var(--color-title);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.36px;
    margin-bottom: var(--spacing-meduim);
}
.text-expo{
    color: var(--color-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 25.998px */
    letter-spacing: 0.2px;
}
.highlight-text{
    color: var(--color-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 41.597px */
    letter-spacing: 0.3px;
    margin: var(--spacing-small) 0;
}
.img-article {
    position: relative;
    width: 60vw;
    margin: var(--spacing-meduim) 0;
}

.link-more{
    width: 60vw;
    justify-content: center;
    margin-top: var(--spacing-meduim);
    display: inline-flex;
    color: var(--color-primary, var(--color-primary));
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.229px;
    cursor: pointer;
    align-items: center;
}
.link-more:hover{
    color: var(--color-primary-hover);
}
.link-more:hover svg {
    transform: rotate(45deg);
    transition: .3s;
}
.link-more:hover svg g path{
    fill: var(--color-primary-hover);
}

/* Other collections */
.collection{
    margin-top: var(--spacing-large);
}
.collection .title-section{
    width: 55%;
    margin-bottom: var(--spacing-small);
}
.container-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-small);
}
.box-collection{
    cursor: pointer;
}
.box-collection:hover{
    opacity: 0.8;
}
.title-box-collection{
    color: var(--color-title);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: var(--spacing) 0px;
}
.text-box-collection{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.2px;
}



/* Partner */

.partenaires {
    background-color: #B92727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--spacing-meduim) 0;
}
.partenaires .title-section{
    font-size: 48px;
    color: #FFF;
}
.logo-slide{
    margin-top: var(--spacing-meduim);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-meduim);
}
.logo-slide img{
    width: 200px;
}
.box-partner-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
   margin-top: var(--spacing-meduim);
}
.text-partner{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:130%;
    letter-spacing: 0.16px;
    width: 40vw;
}
.text-partner:nth-child(1){
    padding-left: var(--spacing-meduim);
}
.text-partner:nth-child(2){
    padding-right: var(--spacing-meduim);
}




@media screen and (max-width:350px) {
    .title{
        margin-left: 30px;
        width: 50vw;
        font-size: 48px;
    }
}


    




